In [18]:
#get the index and value at the tuple for items in the list.
items=['hi',1,29,3,4,(0.1,'hi')]
[(index,value) for index,value in enumerate (items)]

[(0, 'hi'), (1, 1), (2, 29), (3, 3), (4, 4), (5, (0.1, 'hi'))]

In [20]:
#find the common numbers in the list using list comprehension.
l1=[1,2,3,4,5,6]
l2=[3,4,5,6,7,8,9]
[i for i in l1 for j in l2 if i==j]

[3, 4, 5, 6]

In [8]:
#s= "I love my mom " count number of letter.
s="I love my mom "
l1=[i for i in s if i!=' ']
print (len(l1))

10

In [26]:
#s= "I love my mom " count number of words.
s="I love my mom "
l=[ i for i in s.split()]
len(l)

4

In [5]:
(#s="This is CSIT 1984 60" Count the no. of words which are not alpha numeric.
s="This is CSIT 1984 60"
i= s.split()
[j for j in i if not j.isalpha()]

['1984', '60']

In [7]:
#s="This is CSIT 1984 60" count the 
s="This is CSIT 1984 60"
[j for j in s.split() if  j.isalpha() and len(j)>=4]

['This', 'CSIT']

In [17]:
#use a nested list comprehension to find all the no. in the range 1-100 that are divisible by any no. 2-9

[i for i in range(1,101) if True in [True for j in range(2,10) if i % j == 0]]

[2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 12,
 14,
 15,
 16,
 18,
 20,
 21,
 22,
 24,
 25,
 26,
 27,
 28,
 30,
 32,
 33,
 34,
 35,
 36,
 38,
 39,
 40,
 42,
 44,
 45,
 46,
 48,
 49,
 50,
 51,
 52,
 54,
 55,
 56,
 57,
 58,
 60,
 62,
 63,
 64,
 65,
 66,
 68,
 69,
 70,
 72,
 74,
 75,
 76,
 77,
 78,
 80,
 81,
 82,
 84,
 85,
 86,
 87,
 88,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 98,
 99,
 100]